<nav class="navbar is-warning is-fixed-bottom" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">

      WATCHMEN
      <img src="assets/img/smiley.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<section class="section  has-text-centered">
  <div class="container">
    <h1 class="title">welcome.</h1>
    <i class="fas fa-male"></i>
  </div>
</section>

<section class="hero is-medium black-box has-text-centered is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title black-box-text">
        Get to know your favorite characters
      </h1>
      <h2 class="subtitle black-box-text">
        Continue below.
      </h2>
    </div>
  </div>
</section>

{{!-- <section class="black-box section">
  <div class="container">
    <div class="columns"></div>
    <div class="column is-2">
      <h1 class="black-box-text title">Section</h1>
      <h2 class="black-box-text subtitle">
        This is a section.
      </h2>
    </div>
    <div class="column is-2">
      <h1 class="black-box-text title">Section</h1>
      <h2 class="black-box-text subtitle">
        This is a section.
      </h2>
    </div>
  </div>
</section> --}}


<div class="tile tester is-ancestor">
  <div class="tile is-4 is-parent">
    <div class="tile is-child box has-background-warning is-shadowless">
      <p class="title is-size-5">“Heard joke once: Man goes to doctor. Says he's depressed. Says life seems harsh and
        cruel. Says he feels all alone in a threatening world where what lies ahead is vague and uncertain. Doctor says,
        "Treatment is simple. Great clown Pagliacci is in town tonight. Go and see him. That should pick you up." Man
        bursts into tears. Says, "But doctor...I am Pagliacci.”</p>
    </div>
  </div>
  <div class="tile is-4 is-parent">
    <div class="tile is-child image">
      <img src="/assets/img/blood.png" />
    </div>
  </div>
</div>

<div class="control has-icons-left">
  <div class="select is-large">
    <select class="char-dropdown">
      <option selected>Characters:</option>
      <option value="Ozymandias">Ozymandias</option>
      <option value="Dr Manhattan">Dr. Manhattan</option>
      <option value="The Comedian">The Comedian</option>
      <option value="Nite Owl">Nite Owl</option>
    </select>
  </div>
  <span class="icon is-large is-left">
    <i class="fas fa-globe"></i>
  </span>
</div>


<button id="comic-btn">CLICK</button>
<div id="comic-test"></div>

{{!-- <div class="character-section tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child has-background-black is-radiusless box">
          <p class="title has-text-warning">CHARACTER NAME</p>
          <p class="has-text-warning">Alias 1</p>
          <p class="has-text-warning">Alias 2</p>
        </article>
        <article class="tile is-child has-background-warning is-radiusless is-shadowless box">
          <p class="title has-text-black">WORK</p>
          <p class="subtitle">Occupation</p>
          <p class="subtitle">Base</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="strength-tile tile is-child has-background-warning is-radiusless is-shadowless box">
          <p class="title has-text-black has-text-centered">STRENGTHS</p>
          <div class="content has-text-black">
            <ul type="1">
              <li>Coffee</li>
              <li>Tea</li>
              <li>Milk</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child has-background-black is-radiusless box">
        <p class="title has-text-warning">Wide column</p>
        <p class="subtitle has-text-warning">Aligned with the right column</p>
        <div class="content">
          <p class="has-text-warning">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros,
            eu pellentesque tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child has-background-warning is-radiusless is-shadowless box">
      <figure class="image">
        <img src="https://www.superherodb.com/pictures2/portraits/10/100/884.jpg">
      </figure>
    </article>
  </div>
</div> --}}


Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
  href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>


<script src="/assets/js/finder.js" type="text/javascript"></script>