html {
   background-color: hsl(48, 100%, 67%) !important;
}

.fa-male {
   font-size: 500px;
   color: dodgerblue;
}

.black-box {
   background-color: black;
   width: 75%;
   margin: auto;
}

.black-box-text {
   color: hsl(48, 100%, 67%) !important;
}