body {
   background-color: hsl(48, 100%, 67%);
}

ul {
   list-style-type: none !important;
}

.smile-bg {
   background-image: url("/assets/img/smiley.png");
   height: 100px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 75px;
}

select {
   background-color: black !important;
   color: hsl(48, 100%, 67%) !important;
 }


.navbar {
   font-family: 'Oswald', sans-serif;
   font-size: 25px;
}

.fa-male {
   font-size: 300px;
   color: dodgerblue;
}

.black-box {
   background-color: black;
}

.black-box-text {
   color: hsl(48, 100%, 67%) !important;
   font-family: 'Oswald', sans-serif;
}

.power-tile {
   border: solid black 1px;
}

.character-section {
   font-family: 'Oswald', sans-serif;
}

#icon-credit {
   text-align: center;
   font-size: 6px;
}

#character-div {
   height: 300px;
}

.cd-with-content {
   height: 600px !important;
}

.control {
   margin: 0 0 0 25px;
}

.fa-search {
   margin: 0 30px 0 0;
}