body {
   background-color: hsl(48, 100%, 67%);
   height: 2500px;
}

ul {
   list-style-type: none !important;
}

.blood-spot {
   background-image: url("/assets/img/smiley.png");
   height: 200px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 300px;
}

.select-selected {
   background-color: DodgerBlue;
 }

.tester {
   border: solid black 1px;
   font-family: 'Oswald', sans-serif;
}

.navbar {
   font-family: 'Oswald', sans-serif;
   font-size: 50px;
}

.fa-male {
   font-size: 500px;
   color: dodgerblue;
}

.black-box {
   background-color: black;
}

.black-box-text {
   color: hsl(48, 100%, 67%) !important;
}

.strength-tile {
   border: solid black 1px;
}

.character-section {
   font-family: 'Oswald', sans-serif;
}
